@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.container.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.header {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#header_parte1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_parte1 a {
    font-size: 40px;
    cursor: pointer;
    margin-left: 5vw;
    font-weight: bold;
}

.consultas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
    width: 100%;
}

#btn_voltar {
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: #000;
}

#btn_voltar:hover {
    border-color: #FBBC30;
    color: #FBBC30;
}

.btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    text-decoration: none;
    border: none;
    border-radius: 32px;
    background-color: #161616;
    font-size: larger;
    padding: 1%;
    color: white;
    cursor: pointer;
    width: 48%;
    height: 12vh;
}

.btn:hover {
    transition: 0.5s;
    background-color: #FBBC30;
}

.btn img {
    width: 40px;
}

.btn span {
    font-size: 30px;
    font-weight: bold;
}

.container.conteudo {
    display: flex;
    width: 80%;
    border: 2px solid blueviolet;
    margin-top: 5vh;
    justify-content: center;
    color: white;
}

.caixaVendas {
    width: 100%;
    height: 20vh;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #161616;
}

.caixaVendas h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}
.alignNameItens{
    overflow-y: scroll;
    height: 90%;

}
.alignNameItens::-webkit-scrollbar {
    width: 10px;
}

.alignNameItens::-webkit-scrollbar-thumb {
    background-color: #FBBC30;
    border-radius: 120px;
    border: 2px solid white;
}

#caixa_vendas {
    width: 100%;
    flex-direction: column;
}

#titulo_vendas {
    display: flex;
    margin-top: 2vh;
    padding-bottom: 2vh;
    font-size: larger;
    justify-content: space-around;
    width: 100%;
}

#div_vendas {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.compra {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    height: 18vh;
    border-radius: 5px;
}

#borda {
    width: 90%;
    border-bottom: white solid 3px;
    margin-bottom: 2vh;
}

#caixa_saldo_dia {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

#titulo_saldo_dia {
    font-size: 40px;
    padding-bottom: 50px;
}

#div_saldo {
    width: 40%;
    font-size: 40px;
    border-bottom: 4px solid white;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* 
span {
    display: flex;
    justify-content: center;
    width: 25%;
    max-width: 25%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
} */